body{
	background-color: #5e2129;
}

.pontos{
	font-family: "Lato", serif;
	font-weigth: 900;
	color: white;
}

.categoria{
	font-family: "Lato", serif;
	font-weigth: 900;
	color: white;
}

.rotulo{
	font-family: "Lato", serif;
	font-weigth: 400;
	color: white;
}

